name: Run tests

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: python -m unittest